<html>
<head>
  <style type="text/css">
    p.one { border-style: double; border-width: 10px; padding: 3cm; margin: 50px 150px 30px 150px; font: 20px Courier, monospace;}
    body {background-color: grey;}
    input {display: inline-block; background-color: #B6B6B4; font: 14px Courier, monospace; padding: 7px 10px 7px 10px; appearance:none; box-shadow: none; border: none;}
  </style>
</head>
 <body> 
  <div align="center" style="padding-top:20px";>
   <p class='one'>
     {{ result }}<br />
   </p>
   <br />
   <form action="{{ url_for('index') }}">
    <input type="submit" value=". . . and I am one of the punkest." />
   </form>
  </div>
 </body>
</html>